    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Ruby on rails 6 Project", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", home_path %></li>
              <li><%= link_to "Cat Facts", cat_path %></li>
              <li><%= link_to "Dog Facts", dog_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "DogeDB", dogefacts_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>